:root {
    --color: white;
    --link-color: aqua;
    --background-color-ground: #202225;
    --background-color-1st: #2F3136;
    --background-color-2nd: #36393F;
    --background-color-3rd: #2F3136;
    --background-color-4th: #36393F;
    --background-color-5th: #2F3136;
    --background-color-top-ground: rgba(255, 255, 255, 0.05);
    --background-color-top-1st: #202225;
    --background-color-top-2nd: #292A2C;
}
