:root {
    --color: white;
    --link-color: aqua;
    --bg-color-ground: #111827;
    --bg-color-1: #1F2937;
    --bg-color-2: #111827;
    --bg-color-3: #1F2937;
    --bd-color: #374151;
    --bg-color-top-ground: rgba(255, 255, 255, 0.05);
    --bg-color-top-1: #202225;
    --bg-color-top-2: #292A2C;
    --bg-color-button: #6366F1;
    --bg-color-text-button: #7480F8
}
