:root {
    --color: black;
    --link-color: aqua;
    --background-color-ground: #E3E5E8;
    --background-color-1st: #F2F3F5;
    --background-color-2nd: #FAFAFA;
    --background-color-3rd: #F2F3F5;
    --background-color-4th: #FAFAFA;
    --background-color-5th: #F2F3F5;
    --background-color-top-ground: rgba(0, 0, 0, 0.3);
    --background-color-top-1st: #E3E5E8;
    --background-color-top-2nd: #BBBDC0;
}
